<!DOCTYPE html>
<html scroll-behavior: smooth lang="en">
  <head>
    <title>My Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% load static %}
	<link rel="stylesheet" href="{% static 'stylesheet.css' %}">
    
  </head>
  <body>
    <div id="outerBody" style="width:1347px;height:585px;background-color:turquoise;margin:0 Auto">
      <div id="header" style="background-color:blue">
        <a href= / button type="button" class="btn btn-secondary" style="background-color:blue">Home</a>
        <a href= aboutMe button type="button" class="btn btn-secondary" style="background-color:blue">About Me</a>
        <a href= help button type="button" class="btn btn-secondary" style="background-color:blue">Help</a>
		<a href= register button type="button" class="btn btn-secondary" style="background-color:blue">Register</a>
	  </div>

	  <div id="content" style="background-color:turquoise">
	    <div id="leftSection" style="background-color:turquoise;float:left;width:449px;height:585px">
	      <a href="http://tinypic.com?ref=zoddg7" target="_blank"><img src="http://i63.tinypic.com/zoddg7.jpg" style="width:449px;height:336px" border="0" alt="Image and video hosting by TinyPic"></a>
          <p><b>Name:</b> Drasseta Aliyyu Darmansyah</p>
          <p><b>Address:</b> Depok, West Java, Indonesia</p>
          <p><b>Occupation:</b> College Student</p>
          <p><b>E-mail:</b> drassetad@gmail.com</p>
	    </div>

	    <div id="middleSection" style="background-color:#80abd6;float:left;width:449px;height:585px">
	      <p><b>Academic Information:</b></p>
		  <p>Graduated from SDN Sukamaju 10</p>
		  <p>Graduated from SMPN 4 Depok</p>
		  <p>Graduated from SMAN 3 Depok</p>
		  <p>Enrolled in Universitas Indonesia's Faculty of Computer Science</p>
	    </div>

	    <div id="rightSection" style="background-color:#8095d6;float:right;width:449px;height:585px">
	      <p><b>Skills:</b></p>
		  <p>Can speak in Indonesian and English</p>
		  <p>Drawing</p>
	    </div>
	  </div>
    </div>
  </body>
</html>