<!DOCTYPE html>
<html scroll-behavior: smooth lang="en">
  <head>
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% load static %}
	<link rel="stylesheet" href="{% static 'stylesheet.css' %}">
  </head>
  <body>
    <div id="outerBody" style="width:1347px;height:585px;background-color:turquoise;margin:0 Auto">
      <div id="header" style="background-color:blue">
        <a href= / button type="button" class="btn btn-secondary" style="background-color:blue">Home</a>
        <a href= aboutMe button type="button" class="btn btn-secondary" style="background-color:blue">About Me</a>
        <a href= help button type="button" class="btn btn-secondary" style="background-color:blue">Help</a>
		<a href= register button type="button" class="btn btn-secondary" style="background-color:blue">Register</a>
	  </div>
	  
	  <div id="content" style="background-color:turquoise;text-align:center;margin:0 Auto">
	    <form action="action_page.php">
          <div class="container">
            <h1>Register</h1>
            <p>Please fill in this form to create an account.</p>
            <hr>
			
			<label for="name"><b>Name</b></label>
            <input type="text" placeholder="Enter Name" name="name" required>
			<hr>

            <form action="/action_page.php">
              Birthday:
              <input type="date" name="bday">
            </form>
			<hr>
			
			<label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>
			<hr>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
			<hr>

            <label for="psw-repeat"><b>Repeat Password</b></label>
            <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
            <hr>

            <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
            <button type="submit" class="registerbtn">Register</button>
          </div>

          <div class="container signin">
            <p>Already have an account? <a href="#">Sign in</a>.</p>
          </div>
        </form>
	  </div>
	</div>
 </body>
</html>